*{ font-family: 'Comic Sans', cursive;
margin: 0;
padding: 0;
}

header {
    background-image: url(images/banner.jpg);
}

body{
    background-color: #FBCFD0;
}

nav {background-color: #F04F4F;
    max-width: 100%;
    min-width: 50px;
    margin-top: -5px;
}

li {background-color: #F04F4F;
    padding: 20px;
    display: inline-block;
    vertical-align: middle;
}


ul {display: flex;
    justify-content: space-around;
}


.iluminacion {
    border: 10px solid #7c1010;
    border-radius: 15px;
    background: #F04F4F;
        font-size: 20pt;
}


.iluminacion:hover {
    background: #f0f07f;
}

.borde {
    margin: 30px;
    border: 10px solid #7c1010;
    border-radius: 15px;
    background: #BCDF97;
}

#encabezado-categoria {
    border-top: 1px solid #7c1010;
    border-left: 1px solid #7c1010;
    border-right: 1px solid #7c1010;
    border-bottom: 11px solid #7c1010;
    background: #F04F4F;
    padding-right: 30px;
    padding-left: 30px;
    font-size: 20pt;
}

#encabezado-categoria:hover {
    background: #f0f07f;
}

#flex-container {
    display: flex;
    justify-content: space-around;
}

.item {padding: 10px;
    }


    figure {display: flex;
    justify-content: space-evenly;
    padding-left: 30px;}

    figcaption {
        text-align: left;
    }
    
    .redondeado {
        border-radius: 15px;
        ;

    }


    @media screen(min-width:380px) and (max-width:900px){

        body{ font-family: 'Comic Sans', cursive;
            }

            #encabezado-categoria {
                border-top: 1px solid #7c1010;
                border-left: 1px solid #7c1010;
                border-right: 1px solid #7c1010;
                border-bottom: 11px solid #7c1010;
                background: #F04F4F;
                padding-right: 5%;
                padding-left: 5%;
                font-size: 20pt;
            }
        
        #flex-container {
            display: flex;
        justify-content: center;}
            
           .item{margin: 2px;} 

            figure {display: flex;
            justify-content: center;
                      }
        
            figcaption {
                text-align: center;
                font-size: 5pt;
            }
            
            .redondeado {
                border-radius: 15px; 
                width: 4%;  
            }
    }